@use "global" as *;

.pagination{
  display: flex;
  justify-content:space-between;
  column-gap:rem(12.5) ;
  @include mq("md"){
    justify-content:center;
  }
}

.wp-pagenavi{
  display: grid;
  grid-auto-flow: column;
  column-gap:rem(12.5) ;
  @include mq("md"){
    margin-left: rem(40);
  }
}

.page-numbers{
  border: 1px solid $green;
  color: $green;
  background-color: $white;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  transition: all 0.3s;
}
.current{
  color: $white;
  background-color: $green;
  border: 1px solid $green;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  transition: all 0.3s;
}

.page:hover{
  color: $white;
  background-color: $green;
}

.prev,
.next{
  border: 1px solid $green;
  color: $green;
  background-color: $white;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(38);
  height: rem(38);
  transition: all 0.3s;
}

.prev.pagination__link{
  @include mq("md"){
    margin-left: rem(-40);
  }
}

.next.pagination__link{
  @include mq("md"){
    margin-left: rem(40);
  }
}

.pagination__arrow{
  display: inline-block;
  border-top: 1px solid $green;
  border-left: 1px solid $green;
  width: rem(8);
  height: rem(8);
  transform: rotate(-45deg);
  transition: all 0.3s;
}
.prev::before,
.next::before{
  content: "";
  border-top: 1px solid $green;
  border-left: 1px solid $green;
  width: rem(8);
  height: rem(8);
  transform: rotate(135deg);
  transition: all 0.3s;
}

.prev::before{
  transform: rotate(-45deg);
}

.prev:hover,
.pagination__next:hover{
  background-color: $green;
}

.prev:hover.prev::before,
.next:hover.next::before{
  border-color: $white;
}

// ブログ詳細ページ
.pagination.pagination--blog-detail{
  max-width: rem(158);
  margin: rem(40) auto 0;
  @include mq("md"){
    margin: rem(80) auto 0;
  }
}




