@use "global" as *;
.policy-content{
  position: relative;
}

.policy-content__wrapper{
  width: 100%;
  @include mq("md"){
    max-width: rem(800);
    margin: 0 auto;
  }
}
.policy-content__items{
  margin-left: rem(15);
  margin-top: rem(31);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  line-height: 2;
    @include mq("md"){
      margin-left: 0;
  }
}

.policy-content__items h2{
  font-size:rem(24);
  font-family: $third-font-family;
  font-weight: $bold;
  color: $black;
  @include mq("md"){
    font-size:rem(32);
  }
}

.policy-content__items p:first-of-type{
  font-size: rem(16);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  line-height: 2;
  margin-top:rem(40);
}

.policy-content__items p:nth-of-type(2),
.policy-content__items p:nth-of-type(3),
.policy-content__items p:nth-of-type(4),
.policy-content__items p:nth-of-type(5)
{
  margin-top:rem(40);
      @include mq("md"){
    margin-top: rem(31);
  }
}

.policy-content__items ol{
   margin-top: rem(31);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  line-height: 2;
  list-style: decimal;
}

.policy-content__items ol:nth-of-type(2),
.policy-content__items ol:nth-of-type(3),
.policy-content__items ol:nth-of-type(4)
{
  margin-top: rem(0);
}


.policy-content__items ol:first-of-type p{
   margin-top: rem(40);
       @include mq("md"){
    margin-top: rem(31);
  }
}


// .policy-content__items li::marker{
//   display: inline-block;
//   text-indent: 1em !important;
//   }

.policy-content__img{
  width: rem(135);
  aspect-ratio: 310 / 138;
  position: absolute;
  top: rem(-27);
  left: calc(50% - min(47vw, 38.78rem));
  @include mq("md"){
    width: rem(301);
    aspect-ratio: 310 / 138;
    top: rem(-70);
    }
}




