@use "global" as *;
.terms-content{
  position: relative;
}

.terms-content__wrapper{
  width: 100%;
  @include mq("md"){
    max-width: rem(800);
    margin: 0 auto;
  }
}

.terms-content__items{
  margin-left: rem(15);
  margin-top: rem(30);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  line-height: 2;
    @include mq("md"){
      margin-left: 0;
  }
}

.terms-content__items h2{
  font-size:rem(24);
  font-family: $third-font-family;
  font-weight: $bold;
  color: $black;
  @include mq("md"){
    font-size:rem(32);
  }
}

.terms-content__items p:nth-of-type(1){
  font-size: rem(16);
  font-family: $third-font-family;
  font-weight: $regular;
  color: $black;
  line-height: 2;
  margin-top:rem(40);
}

.terms-content__items p:nth-of-type(3){
  margin-top:rem(40);
    @include mq("md"){
    margin-top: rem(31);
  }
}

.terms-content__items ol{
  list-style: decimal;
   margin-top: rem(40);
}







